.icon {
	position: relative;
	width: 476px;
	height: 220px;
	margin: 100px auto;
}
#search {
	position: absolute;
	width: 425px;
	height: 26px;
	left: 25px;
}
#Google_Search{
	position: absolute;
	width: 126px;
	height: 36px;
	bottom: -100px;
	left: 108px;
	background-color: #f2f2f2;
	opacity: 0.7;
	border: none;
}
#Second_button{
	position: absolute;
	width: 126px;
	height: 36px;
	bottom: -100px;
	right: 108px;
	background-color: #f2f2f2;
	opacity: 0.7;
	border: none;
}
.navbar {
	list-style-type: none;
	position: absolute;
	right: 20px;
	top: 5px;
	font-family: sans-serif;
}
li{
	display: inline;
	margin: 0 10px 0 0;
}
#grid {
	height: 20px;
	width: 20px;
}
#notifications {
	height: 20px;
	width: 20px;
}
#account {
	height: 30px;
	width: 30px;
}